## Database all function are checked here

#### Add module for database connections

In [25]:
from sqlalchemy import create_engine, text, inspect
from dotenv import load_dotenv
from datetime import datetime
import pandas as pd
import time
import os

### Connect enviroment using dotenv.

In [26]:
load_dotenv()

db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')

### Create engine

In [27]:
DATABASE_URL = f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}"
engine = create_engine(DATABASE_URL)

### Database connection test

In [28]:
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT DATABASE()"))
        db_name = result.fetchone()[0]
        print(f"Connected to database: {db_name}")
except Exception as e:
    print(f"Error: {e}")

Connected to database: itt_master_contents

### Print all database table

In [30]:
try:
    inspactor = inspect(engine)
    tables = inspactor.get_table_names()
    if tables:
        print(f"Table in the database: {db_name}")
        for table in tables:
            print(table)
except Exception as e:
    print(f"Error from database. {e}")

Table in the database: itt_master_contents
hotel_info_all
hotels_info_with_gidestination_code
innova_hotels_main
vervotech_ProviderFamily
vervotech_hotel_list
vervotech_hotel_map_new
vervotech_hotel_map_update
vervotech_mapping
vervotech_update_data_info

### Get all data from a table for test.

In [ ]:
table_name = "innova_hotels_main"

df = pd.read_sql(table_name, engine)

print(df)

### Get header in the data table using pandes only

In [34]:
df = pd.read_sql(table_name, engine)

header = df.columns.tolist()

# print(header)

['Id', 'IttId', 'VervotechId', 'SupplierCode', 'HotelId', 'DestinationId', 'City', 'CityCode', 'State', 'StateCode', 'PostCode', 'Country', 'CountryCode', 'HotelType', 'HotelName', 'Latitude', 'Longitude', 'PrimaryPhoto', 'AddressLine1', 'AddressLine2', 'HotelReview', 'Website', 'Email', 'ContactNumber', 'HotelStar', 'RoomAmenities', 'Amenities_1', 'Amenities_2', 'Amenities_3', 'Amenities_4', 'GoogleLocationLink', 'MapStatus', 'JsonContentStatus', 'ContentLastUpdateDate', 'Confidence', 'CreatedAt', 'ModifiedOn']

### Get header in the data table using SQL query

In [38]:
table = "innova_hotels_main"
df = pd.read_sql(table, engine)

query = f"SELECT * FROM {table} LIMIT 0;"

header = pd.read_sql(query, engine)

header_with_dataframe = header.columns.to_list()
# print(header)
# print(header_with_dataframe)

VervotechId

### Get number one row in my data table without dictionary

In [47]:
table = "innova_hotels_main"
df = pd.read_sql(table, engine)

number_one_row = df.iloc[0]
print(f"Number one row:\n {number_one_row}")

Number one row:
 Id                                                                       1
IttId                                                                 None
VervotechId                                                           None
SupplierCode                                                          oryx
HotelId                                                                  3
DestinationId                                                         6071
City                                                                 Aswan
CityCode                                                              None
State                                                                 None
StateCode
PostCode                                                             81511
Country                                                              Egypt
CountryCode                                                             EG
HotelType                                                             None
HotelName                                Sofitel Legend Old Cataract Aswan
Latitude                                                   24.082284426992
Longitude                                                  32.887715399265
PrimaryPhoto             https://static.giinfotech.ae/medianew/full/3/4...
AddressLine1                                        Abtal El Tahrir Street
AddressLine2                                                   Aswan 81511
HotelReview                                                              0
Website                    https://all.accor.com/hotel/1666/index.en.shtml
Email                                                                 None
ContactNumber                                                +201022229071
HotelStar                                                                0
RoomAmenities                                                         None
Amenities_1              Bathroom, Shower, Bathtub, Bidet, Hairdryer, D...
Amenities_2              Air conditioning, Hotel Safe, Currency Exchang...
Amenities_3                                                           None
Amenities_4                                                           None
GoogleLocationLink                                                    None
MapStatus                                                             None
JsonContentStatus                                                     None
ContentLastUpdateDate                                                  NaT
Confidence                                                            None
CreatedAt                                                              NaT
ModifiedOn                                                             NaT
Name: 0, dtype: object

### Get number one row in my data table with dictionary

In [48]:
table = "innova_hotels_main"
df = pd.read_sql(table, engine)

one_number_row = df.iloc[0]

row_info_with_dict = one_number_row.to_dict()

print(row_info_with_dict)

{'Id': 1, 'IttId': None, 'VervotechId': None, 'SupplierCode': 'oryx', 'HotelId': '3', 'DestinationId': '6071', 'City': 'Aswan', 'CityCode': None, 'State': None, 'StateCode': '', 'PostCode': '81511', 'Country': 'Egypt', 'CountryCode': 'EG', 'HotelType': None, 'HotelName': 'Sofitel Legend Old Cataract Aswan', 'Latitude': '24.082284426992', 'Longitude': '32.887715399265', 'PrimaryPhoto': 'https://static.giinfotech.ae/medianew/full/3/4500893.jpg', 'AddressLine1': 'Abtal El Tahrir Street', 'AddressLine2': 'Aswan 81511', 'HotelReview': '0', 'Website': 'https://all.accor.com/hotel/1666/index.en.shtml', 'Email': None, 'ContactNumber': '+201022229071', 'HotelStar': '0', 'RoomAmenities': None, 'Amenities_1': 'Bathroom, Shower, Bathtub, Bidet, Hairdryer, Direct dial telephone, Radio, Internet access, Minibar, Fridge, King-size Bed, Air conditioning (centrally regulated), Central Heating, Safe, Balcony/Terrace, TV, Double Bed, Tea/coffee maker, Washing Machine', 'Amenities_2': 'Air conditioning, Hotel Safe, Currency Exchange, Lifts, Cafe, Shops, Bar(s), Nightclub, Restaurant(s), Conference Room, Internet access, WLAN access, Room Service, Laundry Service, Medical Assistance, Bicycle Hire, Car Park, Kids Club, Playground, Laundry', 'Amenities_3': None, 'Amenities_4': None, 'GoogleLocationLink': None, 'MapStatus': None, 'JsonContentStatus': None, 'ContentLastUpdateDate': NaT, 'Confidence': None, 'CreatedAt': NaT, 'ModifiedOn': NaT}

### Get selectted key value.

In [75]:
hotel_id = row_info_with_dict.get("HotelId")
supplierCode = row_info_with_dict.get("SupplierCode")
hotel_name = row_info_with_dict.get("HotelName")
amenities = row_info_with_dict.get("Amenities_1")

print(f"Holte Id: {hotel_id}")
print(f"Supplier Code: {supplierCode}")
print(f"Hotel Name: {hotel_name}")

# print(f"Hotel Amenities: {amenities}")

Holte Id: 3
Supplier Code: oryx
Hotel Name: Sofitel Legend Old Cataract Aswan

### Split data in a sell and separate value using strip.

In [74]:
amenities_1 = row_info_with_dict.get("Amenities_1")

split_data = amenities_1.split(",")

print("Lenth data in sell:", len(split_data))

print("\n")

for i in range(len(split_data)):
    print(split_data[i].strip())
# print(split_data)

Lenth data in sell: 19


Bathroom
Shower
Bathtub
Bidet
Hairdryer
Direct dial telephone
Radio
Internet access
Minibar
Fridge
King-size Bed
Air conditioning (centrally regulated)
Central Heating
Safe
Balcony/Terrace
TV
Double Bed
Tea/coffee maker
Washing Machine