## Database all function are checked here

#### Add module for database connections

In [25]:
from sqlalchemy import create_engine, text, inspect
from dotenv import load_dotenv
from datetime import datetime
import pandas as pd
import time
import os

### Connect enviroment using dotenv.

In [26]:
load_dotenv()

db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')

### Create engine

In [27]:
DATABASE_URL = f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}"
engine = create_engine(DATABASE_URL)

### Database connection test

In [28]:
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT DATABASE()"))
        db_name = result.fetchone()[0]
        print(f"Connected to database: {db_name}")
except Exception as e:
    print(f"Error: {e}")

Connected to database: itt_master_contents

### Print all database table

In [30]:
try:
    inspactor = inspect(engine)
    tables = inspactor.get_table_names()
    if tables:
        print(f"Table in the database: {db_name}")
        for table in tables:
            print(table)
except Exception as e:
    print(f"Error from database. {e}")

Table in the database: itt_master_contents
hotel_info_all
hotels_info_with_gidestination_code
innova_hotels_main
vervotech_ProviderFamily
vervotech_hotel_list
vervotech_hotel_map_new
vervotech_hotel_map_update
vervotech_mapping
vervotech_update_data_info

### Get all data from a table for test.

In [ ]:
table_name = "innova_hotels_main"

df = pd.read_sql(table_name, engine)

print(df)

### Get header in the data table using pandes only

In [34]:
df = pd.read_sql(table_name, engine)

header = df.columns.tolist()

# print(header)

['Id', 'IttId', 'VervotechId', 'SupplierCode', 'HotelId', 'DestinationId', 'City', 'CityCode', 'State', 'StateCode', 'PostCode', 'Country', 'CountryCode', 'HotelType', 'HotelName', 'Latitude', 'Longitude', 'PrimaryPhoto', 'AddressLine1', 'AddressLine2', 'HotelReview', 'Website', 'Email', 'ContactNumber', 'HotelStar', 'RoomAmenities', 'Amenities_1', 'Amenities_2', 'Amenities_3', 'Amenities_4', 'GoogleLocationLink', 'MapStatus', 'JsonContentStatus', 'ContentLastUpdateDate', 'Confidence', 'CreatedAt', 'ModifiedOn']

### Get header in the data table using SQL query

In [38]:
table = "innova_hotels_main"
df = pd.read_sql(table, engine)

query = f"SELECT * FROM {table} LIMIT 0;"

header = pd.read_sql(query, engine)

header_with_dataframe = header.columns.to_list()
# print(header)
# print(header_with_dataframe)

VervotechId

### Get number one row in my data table without dictionary

In [47]:
table = "innova_hotels_main"
df = pd.read_sql(table, engine)

number_one_row = df.iloc[0]
print(f"Number one row:\n {number_one_row}")

Number one row:
 Id                                                                       1
IttId                                                                 None
VervotechId                                                           None
SupplierCode                                                          oryx
HotelId                                                                  3
DestinationId                                                         6071
City                                                                 Aswan
CityCode                                                              None
State                                                                 None
StateCode
PostCode                                                             81511
Country                                                              Egypt
CountryCode                                                             EG
HotelType                                                             None
HotelName                                Sofitel Legend Old Cataract Aswan
Latitude                                                   24.082284426992
Longitude                                                  32.887715399265
PrimaryPhoto             https://static.giinfotech.ae/medianew/full/3/4...
AddressLine1                                        Abtal El Tahrir Street
AddressLine2                                                   Aswan 81511
HotelReview                                                              0
Website                    https://all.accor.com/hotel/1666/index.en.shtml
Email                                                                 None
ContactNumber                                                +201022229071
HotelStar                                                                0
RoomAmenities                                                         None
Amenities_1              Bathroom, Shower, Bathtub, Bidet, Hairdryer, D...
Amenities_2              Air conditioning, Hotel Safe, Currency Exchang...
Amenities_3                                                           None
Amenities_4                                                           None
GoogleLocationLink                                                    None
MapStatus                                                             None
JsonContentStatus                                                     None
ContentLastUpdateDate                                                  NaT
Confidence                                                            None
CreatedAt                                                              NaT
ModifiedOn                                                             NaT
Name: 0, dtype: object

### Get number one row in my data table with dictionary

In [48]:
table = "innova_hotels_main"
df = pd.read_sql(table, engine)

one_number_row = df.iloc[0]

row_info_with_dict = one_number_row.to_dict()

print(row_info_with_dict)

{'Id': 1, 'IttId': None, 'VervotechId': None, 'SupplierCode': 'oryx', 'HotelId': '3', 'DestinationId': '6071', 'City': 'Aswan', 'CityCode': None, 'State': None, 'StateCode': '', 'PostCode': '81511', 'Country': 'Egypt', 'CountryCode': 'EG', 'HotelType': None, 'HotelName': 'Sofitel Legend Old Cataract Aswan', 'Latitude': '24.082284426992', 'Longitude': '32.887715399265', 'PrimaryPhoto': 'https://static.giinfotech.ae/medianew/full/3/4500893.jpg', 'AddressLine1': 'Abtal El Tahrir Street', 'AddressLine2': 'Aswan 81511', 'HotelReview': '0', 'Website': 'https://all.accor.com/hotel/1666/index.en.shtml', 'Email': None, 'ContactNumber': '+201022229071', 'HotelStar': '0', 'RoomAmenities': None, 'Amenities_1': 'Bathroom, Shower, Bathtub, Bidet, Hairdryer, Direct dial telephone, Radio, Internet access, Minibar, Fridge, King-size Bed, Air conditioning (centrally regulated), Central Heating, Safe, Balcony/Terrace, TV, Double Bed, Tea/coffee maker, Washing Machine', 'Amenities_2': 'Air conditioning, Hotel Safe, Currency Exchange, Lifts, Cafe, Shops, Bar(s), Nightclub, Restaurant(s), Conference Room, Internet access, WLAN access, Room Service, Laundry Service, Medical Assistance, Bicycle Hire, Car Park, Kids Club, Playground, Laundry', 'Amenities_3': None, 'Amenities_4': None, 'GoogleLocationLink': None, 'MapStatus': None, 'JsonContentStatus': None, 'ContentLastUpdateDate': NaT, 'Confidence': None, 'CreatedAt': NaT, 'ModifiedOn': NaT}

### Get selectted key value.

In [75]:
hotel_id = row_info_with_dict.get("HotelId")
supplierCode = row_info_with_dict.get("SupplierCode")
hotel_name = row_info_with_dict.get("HotelName")
amenities = row_info_with_dict.get("Amenities_1")

print(f"Holte Id: {hotel_id}")
print(f"Supplier Code: {supplierCode}")
print(f"Hotel Name: {hotel_name}")

# print(f"Hotel Amenities: {amenities}")

Holte Id: 3
Supplier Code: oryx
Hotel Name: Sofitel Legend Old Cataract Aswan

### Split data in a sell and separate value using strip.

In [74]:
amenities_1 = row_info_with_dict.get("Amenities_1")

split_data = amenities_1.split(",")

print("Lenth data in sell:", len(split_data))

print("\n")

for i in range(len(split_data)):
    print(split_data[i].strip())
# print(split_data)

Lenth data in sell: 19


Bathroom
Shower
Bathtub
Bidet
Hairdryer
Direct dial telephone
Radio
Internet access
Minibar
Fridge
King-size Bed
Air conditioning (centrally regulated)
Central Heating
Safe
Balcony/Terrace
TV
Double Bed
Tea/coffee maker
Washing Machine

# For ratehawk with localdb.

In [90]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Float, Boolean, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import text
import json

In [91]:
load_dotenv()

db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')

In [92]:
DATABASE_URL_SERVER = f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}"
server_engine = create_engine(DATABASE_URL_SERVER)
Session_1 = sessionmaker(bind=server_engine)
session_1 = Session_1()

DATABASE_URL_LOCAL = "mysql+pymysql://root:@localhost/csvdata01_02102024"
local_engine = create_engine(DATABASE_URL_LOCAL)
Session_2 = sessionmaker(bind=local_engine)
session_2 = Session_2()

In [93]:
DATABASE_URL_LOCAL = "mysql+pymysql://root:@localhost/csvdata01_02102024"
local_engine = create_engine(DATABASE_URL_LOCAL)
Session_2 = sessionmaker(bind=local_engine)
session_2 = Session_2()

try:
    with local_engine.connect() as connection:
        result = connection.execute(text("SELECT DATABASE()"))
        db_name = result.fetchone()[0]
        print(f"Connected to database: {db_name}")
except Exception as e:
    print(f"Error: {e}")

Connected to database: csvdata01_02102024

In [108]:
try:
    inspactor = inspect(local_engine)
    tables = inspactor.get_table_names()
    if tables:
        print(f"Table in the database: {db_name}")
        for table in tables:
            print(table)
except Exception as e:
    print(f"Error from database. {e}")

Table in the database: csvdata01_02102024
hotels_info
hotels_info_with_gidestination_code
info_01
my_table
ratehawk
z_ocas_member_data

In [115]:
table = "ratehawk"

query = f"SELECT * FROM {table} LIMIT 4;"

df = pd.read_sql(query, local_engine)

one_number_row = df.iloc[0]

row_info_with_dict = one_number_row.to_dict()

print(row_info_with_dict)

{'my_id': 3199212, 'address': 'Kampong Chheuteal Village, Prasat Sambor, Prasat Sambor', 'amenity_groups': "[{'amenities': ['24-hour reception', 'Smoke-free property', 'Garden'], 'non_free_amenities': [], 'group_name': 'General'}, {'amenities': ['Non-smoking rooms'], 'non_free_amenities': [], 'group_name': 'Rooms'}, {'amenities': ['Laundry'], 'non_free_amenities': ['Laundry'], 'group_name': 'Services and amenities'}, {'amenities': ['English'], 'non_free_amenities': [], 'group_name': 'Languages Spoken'}, {'amenities': ['No parking'], 'non_free_amenities': [], 'group_name': 'Parking'}, {'amenities': ['Beach/pool towels'], 'non_free_amenities': [], 'group_name': 'Pool and beach'}, {'amenities': ['Pets Not Allowed'], 'non_free_amenities': [], 'group_name': 'Pets'}]", 'check_in_time': '14:00:00', 'check_out_time': '12:00:00', 'description_struct': "[{'paragraphs': ['Want to save money while travelling? Itâ\\x80\\x99s easy: hotel Â«Isanborei Homestay 2Â» is located in Prasat Sambor. This hotel is located 2 km from the city center.'], 'title': 'Location'}, {'paragraphs': ['At the guestsâ\\x80\\x99 disposal, thereâ\\x80\\x99s also a laundry. The staff of the hotel will be happy to talk to you in English.'], 'title': 'At the hotel'}]", 'id': '_0x2bba1', 'hid': '6291584', 'images': "['https://cdn.worldota.net/t/{size}/content/b9/e4/b9e4799bb77f46b628d9a55a9c67d22205e32c6d.jpeg', 'https://cdn.worldota.net/t/{size}/content/5f/d9/5fd9a14ac6cd2602a5185d638be94c0395e111b9.jpeg', 'https://cdn.worldota.net/t/{size}/content/d4/96/d496093fb63d3c7625d442ccd0cac5481e191726.jpeg', 'https://cdn.worldota.net/t/{size}/content/7b/94/7b9499c89cfa4d3ba305d7c89be257a008b0bb49.jpeg', 'https://cdn.worldota.net/t/{size}/content/5f/ae/5fae72b4a6509f206d0581f46ef48bedcaa31b8b.jpeg', 'https://cdn.worldota.net/t/{size}/content/6e/a1/6ea1e0a5602b81c62c5d76d67f2eaffffe1fefd5.jpeg', 'https://cdn.worldota.net/t/{size}/content/6f/bf/6fbf01a0be6baac26cdf8ce33fd5a86bd4dca0a0.jpeg', 'https://cdn.worldota.net/t/{size}/content/e8/f1/e8f1470d5985e417434890e30bd527ecf5edf124.jpeg', 'https://cdn.worldota.net/t/{size}/content/99/e5/99e57b47ce81e9f82b182ef077bd094820f73e1c.jpeg', 'https://cdn.worldota.net/t/{size}/content/d0/64/d064fa89c49245ae32b88da263260f7093f68d16.jpeg']", 'images_ext': "[{'url': 'https://cdn.worldota.net/t/{size}/content/b9/e4/b9e4799bb77f46b628d9a55a9c67d22205e32c6d.jpeg', 'category_slug': 'hotel_front'}, {'url': 'https://cdn.worldota.net/t/{size}/content/5f/d9/5fd9a14ac6cd2602a5185d638be94c0395e111b9.jpeg', 'category_slug': 'lobby'}, {'url': 'https://cdn.worldota.net/t/{size}/content/d4/96/d496093fb63d3c7625d442ccd0cac5481e191726.jpeg', 'category_slug': 'balcony'}, {'url': 'https://cdn.worldota.net/t/{size}/content/7b/94/7b9499c89cfa4d3ba305d7c89be257a008b0bb49.jpeg', 'category_slug': 'bathroom'}, {'url': 'https://cdn.worldota.net/t/{size}/content/5f/ae/5fae72b4a6509f206d0581f46ef48bedcaa31b8b.jpeg', 'category_slug': 'bathroom'}, {'url': 'https://cdn.worldota.net/t/{size}/content/6e/a1/6ea1e0a5602b81c62c5d76d67f2eaffffe1fefd5.jpeg', 'category_slug': 'children'}, {'url': 'https://cdn.worldota.net/t/{size}/content/6f/bf/6fbf01a0be6baac26cdf8ce33fd5a86bd4dca0a0.jpeg', 'category_slug': 'children'}, {'url': 'https://cdn.worldota.net/t/{size}/content/e8/f1/e8f1470d5985e417434890e30bd527ecf5edf124.jpeg', 'category_slug': 'entertainment'}, {'url': 'https://cdn.worldota.net/t/{size}/content/99/e5/99e57b47ce81e9f82b182ef077bd094820f73e1c.jpeg', 'category_slug': 'outside'}, {'url': 'https://cdn.worldota.net/t/{size}/content/d0/64/d064fa89c49245ae32b88da263260f7093f68d16.jpeg', 'category_slug': 'outside'}]", 'kind': 'Hotel', 'latitude': 12.8785, 'longitude': 105.05, 'name': 'Isanborei Homestay 2', 'phone': None, 'policy_struct': '[]', 'postal_code': None, 'room_groups': "[{'room_group_id': 6, 'images': [], 'name': 'Bed in Dorm', 'room_amenities': ['shared-bathroom', 'towels'], 'rg_ext': {'class': 1, 'quality': 0, 'sex': 0, 'bathroom': 1, 'bedding': 0, 'family': 0, 'capacity': 0, 'club': 0, 'bedrooms': 0, 'balcony': 0, 'fl", 'region': "{'id': 965850015, 'country_code': 'KH', 'iata': None, 'name': 'Prasat Sambor', 'type': 'City', 'type_v2': 'city'}", 'star_rating': 0.0, 'email': None, 'serp_filters': '[]', 'deleted': 0, 'is_closed': 0, 'is_gender_specification_required': 0, 'metapolicy_struct': "{'internet': [], 'meal': [], 'children_meal': [], 'extra_bed': [], 'cot': [], 'pets': [], 'shuttle': [], 'parking': [], 'children': [], 'visa': {'visa_support': 'unspecified'}, 'deposit': [], 'no_show': {'availability': 'unspecified', 'time': None, 'day_period': 'unspecified'}, 'add_fee': [], 'check_in_check_out': []}", 'metapolicy_extra_info': None, 'star_certificate': None, 'facts': "{'floors_number': None, 'rooms_number': 1, 'year_built': None, 'year_renovated': None, 'electricity': {'frequency': [50], 'voltage': [230], 'sockets': ['a', 'c', 'g']}}", 'payment_methods': '[]', 'hotel_chain': 'No chain', 'front_desk_time_start': None, 'front_desk_time_end': None, 'keys_pickup': "{'type': 'unspecified', 'phone': None, 'email': None, 'apartment_office_address': None, 'apartment_extra_information': None, 'is_contactless': False}", 'updated_at': Timestamp('2024-11-13 17:10:34.758077'), 'created_at': Timestamp('2024-11-13 17:10:34.758077')}

In [116]:
json_value = json.dumps(row_info_with_dict, indent=4)

print(json_value)

TypeError: Object of type Timestamp is not JSON serializable

In [121]:
from sqlalchemy import create_engine, Table, MetaData, text
from sqlalchemy.orm import sessionmaker
import json
import os

# Database connection setup
db_host = os.getenv('DB_HOST')
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASSWORD')
db_name = os.getenv('DB_NAME')

DATABASE_URL_SERVER = f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}"
server_engine = create_engine(DATABASE_URL_SERVER)
Session_1 = sessionmaker(bind=server_engine)
session_1 = Session_1()

DATABASE_URL_LOCAL = "mysql+pymysql://root:@localhost/csvdata01_02102024"
local_engine = create_engine(DATABASE_URL_LOCAL)
Session_2 = sessionmaker(bind=local_engine)
session_2 = Session_2()

metadata = MetaData()
metadata.reflect(bind=server_engine)
ratehawk = Table('ratehawk', metadata, autoload_with=local_engine)
innova_hotels_main = Table('innova_hotels_main', metadata, autoload_with=server_engine)

# Helper function to escape single quotes
def escape_single_quotes(value):
    if isinstance(value, str):
        return value.replace("'", "''")
    return value

# Mapping function to transfer only the first 10 rows
def transfer_first_10_rows():
    try:
        with session_1.begin(), session_2.begin():
            # Fetch the first 10 rows from the ratehawk table
            results = session_1.query(ratehawk).limit(10).all()

            for row in results:
                # Parse JSON fields from the ratehawk table
                data = {
                    "name": row.name,
                    "systemId": row.hid,
                    "address": row.address,
                    "geocode.lat": row.latitude,
                    "geocode.lon": row.longitude,
                    "rating": row.star_rating,
                    "contact.phoneNo": row.phone,
                    "imageUrls": json.loads(row.images) if row.images else [],
                }

                # Map the primary image URL if available
                if data["imageUrls"]:
                    data["PrimaryPhoto"] = data["imageUrls"][0]
                else:
                    data["PrimaryPhoto"] = None

                # Map amenities to specific columns
                amenities = json.loads(row.amenity_groups) if row.amenity_groups else []
                for i in range(1, 6):
                    column_name = f"Amenities_{i}"
                    if amenities and i <= len(amenities):
                        data[column_name] = amenities[i - 1]['amenities'][0]
                    else:
                        data[column_name] = None

                data['SupplierCode'] = 'ratehawk'
                data = {k: escape_single_quotes(v) for k, v in data.items()}

                # Set missing columns to NULL
                for col in innova_hotels_main.columns:
                    if col.name not in data:
                        data[col.name] = None

                # Prepare SQL query for upsert
                columns = ', '.join(data.keys())
                values = ', '.join([f"'{v}'" if v is not None else 'NULL' for v in data.values()])
                update_clause = ', '.join([f"{col} = VALUES({col})" for col in data.keys()])

                sql = f"""
                    INSERT INTO innova_hotels_main ({columns})
                    VALUES ({values})
                    ON DUPLICATE KEY UPDATE {update_clause}
                """
                session_2.execute(text(sql))

        print("First 10 rows updated successfully in innova_hotels_main.")
    except Exception as e:
        print(f"An error occurred: {e}")
        session_1.rollback()
        session_2.rollback()

# Execute the transfer
transfer_first_10_rows()

An error occurred: (pymysql.err.ProgrammingError) (1146, "Table 'itt_master_contents.ratehawk' doesn't exist")
[SQL: SELECT ratehawk.my_id AS ratehawk_my_id, ratehawk.address AS ratehawk_address, ratehawk.amenity_groups AS ratehawk_amenity_groups, ratehawk.check_in_time AS ratehawk_check_in_time, ratehawk.check_out_time AS ratehawk_check_out_time, ratehawk.description_struct AS ratehawk_description_struct, ratehawk.id AS ratehawk_id, ratehawk.hid AS ratehawk_hid, ratehawk.images AS ratehawk_images, ratehawk.images_ext AS ratehawk_images_ext, ratehawk.kind AS ratehawk_kind, ratehawk.latitude AS ratehawk_latitude, ratehawk.longitude AS ratehawk_longitude, ratehawk.name AS ratehawk_name, ratehawk.phone AS ratehawk_phone, ratehawk.policy_struct AS ratehawk_policy_struct, ratehawk.postal_code AS ratehawk_postal_code, ratehawk.room_groups AS ratehawk_room_groups, ratehawk.region AS ratehawk_region, ratehawk.star_rating AS ratehawk_star_rating, ratehawk.email AS ratehawk_email, ratehawk.serp_filters AS ratehawk_serp_filters, ratehawk.deleted AS ratehawk_deleted, ratehawk.is_closed AS ratehawk_is_closed, ratehawk.is_gender_specification_required AS ratehawk_is_gender_specification_required, ratehawk.metapolicy_struct AS ratehawk_metapolicy_struct, ratehawk.metapolicy_extra_info AS ratehawk_metapolicy_extra_info, ratehawk.star_certificate AS ratehawk_star_certificate, ratehawk.facts AS ratehawk_facts, ratehawk.payment_methods AS ratehawk_payment_methods, ratehawk.hotel_chain AS ratehawk_hotel_chain, ratehawk.front_desk_time_start AS ratehawk_front_desk_time_start, ratehawk.front_desk_time_end AS ratehawk_front_desk_time_end, ratehawk.keys_pickup AS ratehawk_keys_pickup, ratehawk.updated_at AS ratehawk_updated_at, ratehawk.created_at AS ratehawk_created_at
FROM ratehawk
 LIMIT %(param_1)s]
[parameters: {'param_1': 10}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [128]:
from sqlalchemy import create_engine, Table, MetaData, text
from sqlalchemy.orm import sessionmaker
import json
import os

# Database connection setup
db_host = os.getenv('DB_HOST')
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASSWORD')
db_name = os.getenv('DB_NAME')

DATABASE_URL_SERVER = f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}"
server_engine = create_engine(DATABASE_URL_SERVER)
Session_1 = sessionmaker(bind=server_engine)
session_1 = Session_1()

DATABASE_URL_LOCAL = "mysql+pymysql://root:@localhost/csvdata01_02102024"
local_engine = create_engine(DATABASE_URL_LOCAL)
Session_2 = sessionmaker(bind=local_engine)
session_2 = Session_2()

# Create separate MetaData objects for each engine
metadata_local = MetaData()
metadata_server = MetaData()

# Reflect tables to the correct engines
metadata_local.reflect(bind=local_engine)
metadata_server.reflect(bind=server_engine)

ratehawk = Table('ratehawk', metadata_local, autoload_with=local_engine)
innova_hotels_main = Table('innova_hotels_main', metadata_server, autoload_with=server_engine)

# Columns to be included in the insert
columns_to_insert = [
    'Id', 'IttId', 'VervotechId', 'SupplierCode', 'HotelId', 'DestinationId', 'City', 'CityCode', 'State', 
    'StateCode', 'PostCode', 'Country', 'CountryCode', 'HotelType', 'HotelName', 'Latitude', 'Longitude', 
    'PrimaryPhoto', 'AddressLine1', 'AddressLine2', 'HotelReview', 'Website', 'Email', 'ContactNumber', 
    'HotelStar', 'RoomAmenities', 'Amenities_1', 'Amenities_2', 'Amenities_3', 'Amenities_4'
]

# Helper function to escape single quotes
def escape_single_quotes(value):
    if isinstance(value, str):
        return value.replace("'", "''")
    return value

# Mapping function to transfer only the first 10 rows
def transfer_first_10_rows():
    try:
        with session_1.begin(), session_2.begin():
            # Fetch the first 10 rows from the ratehawk table in the local database
            results = session_2.query(ratehawk).limit(10).all()

            for row in results:
                try:
                    # Parse JSON fields from the ratehawk table
                    images = json.loads(row.images) if row.images else []
                except json.JSONDecodeError:
                    print(f"Invalid JSON in 'images' for row ID: {row.my_id}. Skipping...")
                    images = []

                try:
                    amenities = json.loads(row.amenity_groups) if row.amenity_groups else []
                except json.JSONDecodeError:
                    print(f"Invalid JSON in 'amenity_groups' for row ID: {row.my_id}. Skipping...")
                    amenities = []

                data = {
                    
                }

                data = {k: escape_single_quotes(v) if v is not None else None for k, v in data.items()}

                # Prepare SQL query for upsert
                columns = ', '.join(data.keys())
                values = ', '.join([f"'{v}'" if v is not None else 'NULL' for v in data.values()])
                update_clause = ', '.join([f"{col} = VALUES({col})" for col in data.keys()])

                sql = f"""
                    INSERT INTO innova_hotels_main ({columns})
                    VALUES ({values})
                    ON DUPLICATE KEY UPDATE {update_clause}
                """
                session_1.execute(text(sql))

        print("First 10 rows updated successfully in innova_hotels_main.")
    except Exception as e:
        print(f"An error occurred: {e}")
        session_1.rollback()
        session_2.rollback()


# Execute the transfer
transfer_first_10_rows()

Invalid JSON in 'images' for row ID: 3199212. Skipping...
Invalid JSON in 'amenity_groups' for row ID: 3199212. Skipping...
An error occurred: gi_destination_id

In [133]:
from sqlalchemy import create_engine, Table, MetaData, text
from sqlalchemy.orm import sessionmaker
import json
import os

# Database connection setup
db_host = os.getenv('DB_HOST')
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASSWORD')
db_name = os.getenv('DB_NAME')

DATABASE_URL_SERVER = f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/{db_name}"
server_engine = create_engine(DATABASE_URL_SERVER)
Session_1 = sessionmaker(bind=server_engine)
session_1 = Session_1()

DATABASE_URL_LOCAL = "mysql+pymysql://root:@localhost/csvdata01_02102024"
local_engine = create_engine(DATABASE_URL_LOCAL)
Session_2 = sessionmaker(bind=local_engine)
session_2 = Session_2()

# Create separate MetaData objects for each engine
metadata_local = MetaData()
metadata_server = MetaData()

# Reflect tables to the correct engines
metadata_local.reflect(bind=local_engine)
metadata_server.reflect(bind=server_engine)

ratehawk = Table('ratehawk', metadata_local, autoload_with=local_engine)
innova_hotels_main = Table('innova_hotels_main', metadata_server, autoload_with=server_engine)

# Helper function to escape single quotes
def escape_single_quotes(value):
    if isinstance(value, str):
        return value.replace("'", "''")
    return value

# Mapping function to transfer only the first 10 rows
def transfer_first_10_rows():
    try:
        with session_1.begin(), session_2.begin():
            # Fetch the first 10 rows from the ratehawk table in the local database
            results = session_2.query(ratehawk).limit(10).all()

            for row in results:
                try:
                    # Parse JSON fields from the ratehawk table (handle missing or invalid JSON)
                    images = json.loads(row.images) if row.images else []
                except json.JSONDecodeError:
                    print(f"Invalid JSON in 'images' for row ID: {row.my_id}. Skipping...")
                    images = []

                try:
                    amenities = json.loads(row.amenity_groups) if row.amenity_groups else []
                except json.JSONDecodeError:
                    print(f"Invalid JSON in 'amenity_groups' for row ID: {row.my_id}. Skipping...")
                    amenities = []

                # Map fields from ratehawk to innova_hotels_main
                data = {
                    'HotelId': row.hotel_id if row.hotel_id else None,
                    'DestinationId': row.destination_id if row.destination_id else None,
                    'City': row.city if row.city else None,
                    'CityCode': row.city_code if row.city_code else None,
                    'State': row.state if row.state else None,
                    'StateCode': row.state_code if row.state_code else None,
                    'PostCode': row.post_code if row.post_code else None,
                    'Country': row.country if row.country else None,
                    'CountryCode': row.country_code if row.country_code else None,
                    'HotelType': row.hotel_type if row.hotel_type else None,
                    'HotelName': row.hotel_name if row.hotel_name else None,
                    'Latitude': row.latitude if row.latitude else None,
                    'Longitude': row.longitude if row.longitude else None,
                    'PrimaryPhoto': row.primary_photo if row.primary_photo else None,
                    'AddressLine1': row.address_line1 if row.address_line1 else None,
                    'AddressLine2': row.address_line2 if row.address_line2 else None,
                    'HotelReview': row.hotel_review if row.hotel_review else None,
                    'Website': row.website if row.website else None,
                    'Email': row.email if row.email else None,
                    'ContactNumber': row.contact_number if row.contact_number else None,
                    'HotelStar': row.hotel_star if row.hotel_star else None,
                    'RoomAmenities': row.room_amenities if row.room_amenities else None,
                    'Amenities_1': amenities[0] if amenities else None,
                    'Amenities_2': amenities[1] if len(amenities) > 1 else None,
                    'Amenities_3': amenities[2] if len(amenities) > 2 else None,
                    'Amenities_4': amenities[3] if len(amenities) > 3 else None,
                    'GoogleLocationLink': row.google_location_link if row.google_location_link else None,
                    'MapStatus': row.map_status if row.map_status else None,
                    'JsonContentStatus': row.json_content_status if row.json_content_status else None,
                    'ContentLastUpdateDate': row.content_last_update_date if row.content_last_update_date else None,
                    'Confidence': row.confidence if row.confidence else None,
                    'CreatedAt': row.created_at if row.created_at else None,
                    'ModifiedOn': row.modified_on if row.modified_on else None
                }

                data['SupplierCode'] = 'ratehawk'
                

                # Escape single quotes for SQL safety
                data = {k: escape_single_quotes(v) if v is not None else None for k, v in data.items()}

                # Prepare SQL query for upsert
                columns = ', '.join(data.keys())
                values = ', '.join([f"'{v}'" if v is not None else 'NULL' for v in data.values()])
                update_clause = ', '.join([f"{col} = VALUES({col})" for col in data.keys()])

                sql = f"""
                    INSERT INTO innova_hotels_main ({columns})
                    VALUES ({values})
                    ON DUPLICATE KEY UPDATE {update_clause}
                """
                session_1.execute(text(sql))

        print("First 10 rows updated successfully in innova_hotels_main.")
    except Exception as e:
        print(f"An error occurred: {e}")
        session_1.rollback()
        session_2.rollback()


# Execute the transfer
transfer_first_10_rows()

Invalid JSON in 'images' for row ID: 3199212. Skipping...
Invalid JSON in 'amenity_groups' for row ID: 3199212. Skipping...
An error occurred: hotel_id